@charset "UTF-8";
/* 后台管理框架的样式 */

/* 下拉菜单和导航 */
.navbar-collapse{
    padding-left: 5px;
    padding-right: 5px;
 }
 .nav>li{
     text-align: center;
 }
 .nav>li>a{
     color:#444;
     margin: 0 5px;
 }
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
     background-color: #222222;
 }
 .dropdown-menu{
     float: none;
     position: initial;
     min-width: 200px;
     margin-left: 0;
     background-color: #E3E3E3;
     box-shadow: none;
     text-align: center;
 }
 .dropdown-menu>li>a{
     padding: 10px 15px;
 }

 /* 主体样式 */
 body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    font-family: "Microsoft YaHei", sans-serif;
 }
 .pageSidebar{
    width: 240px;
    height:100%;
    padding-bottom: 30px;
    overflow: auto;
    background-color: #e3e3e3;
 }
 .splitter {
     width: 5px;
     height: 100%;
     bottom: 0;
     left: 240px;
     position: absolute; 
     overflow: hidden;
     background-color: #fff;
 }
 .pageContent{
     height: 100%;
     min-width: 768px;
     left: 246px;
     top: 0;
     right: 0;
     z-index: 3;
     padding-bottom: 30px;
     position: absolute;
 }
 .pageContainer{
     bottom: 0;
     left:0;
     right: 0;
     top: 53px;
     overflow: auto;
     position: absolute;
     width: 100%;
 }
 .footer {
     width: 100%;
     height: 30px;
     line-height: 30px;
     margin-top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     position: absolute; 
     z-index: 10;
     background-color:#DFDFDF;
 }
 
 
/*  <!-- 中间主体内容部分 -->
	<div class="pageContainer">
		<!-- 左侧导航栏 -->
		<div class="pageSidebar">
			<ul class="nav nav-stacked nav-pills">
				<li role="presentation"><a href="#" target="mainFrame">课程管理</a>
				</li>
				<li role="presentation"><a href="#" target="mainFrame">学生管理</a>
				</li>
				<li role="presentation"><a href="#" target="mainFrame">教师管理</a>
				</li>
				<!-- 开始 -->
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="nav4.html" target="mainFrame">
						个人设置<span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#" target="mainFrame">修改密码</a></li>
						<li><a href="#" target="mainFrame">退出系统</a></li>
						<li><a href="#" target="mainFrame">查看个人信息</a></li>
					</ul></li>
				<!-- 结束 -->
				<li role="presentation"><a href="nav5.html" target="mainFrame">权限设置</a>
				</li>



			</ul>
		</div>

		<!-- 左侧导航和正文内容的分隔线 -->
		<div class="splitter"></div>
		<!-- 正文内容部分 -->
		<div class="pageContent">
			<iframe src="www.baidu.com" id="mainFrame" name="mainFrame"
				frameborder="0" width="100%" height="100%" frameBorder="0">
			</iframe>
		</div>

	</div> */