<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>后台首页</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css}"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{../static/css/bindex.css}">
<script type="text/javascript" th:src="@{../static/js/jquery.min.js}"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script
	th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js}"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<!--顶部导航栏部分-->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- 页面缩小时展现 -->
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" title="logoTitle" th:href="@{#}">logo<img
					th:src="@{#}" height="100%" /></a> -->
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a class="icon-bar" th:href="@{#}">网站首页</a></li>
					<li><a th:href="@{#}">敬请期待</a></li>
					<li><a th:href="@{#}">敬请期待</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li role="presentation"><a th:href="@{#}">欢迎你：<span
							class="badge">张童礼</span></a></li>
					<li><a th:href="@{#}"> <span class="glyphicon glyphicon-lock"></span>退出登录
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2">
				<ul class="nav nav-stacked nav-pills">
					<li role="presentation"><a th:href="@{bindex}">首页</a></li>
					<li role="presentation" class="active"><a th:href="@{battendance}">考勤管理</a></li>
					<li role="presentation"><a th:href="@{#}">合同管理</a></li>
					<li role="presentation"><a th:href="@{#}">个人薪酬</a></li>
					<li role="presentation"><a th:href="@{#}">招聘信息</a></li>
					<!-- 开始 -->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" th:href="@{#}"> 个人设置<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{#}">修改密码</a></li>
							<li><a th:href="@{#}">退出系统</a></li>
							<li><a th:href="@{#}">查看个人信息</a></li>
						</ul></li>
					<!-- 结束 -->
				</ul>
			</div>

			
			
			<div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li class="active">菜单
                        </li>
                        <li class="active">考勤管理
                        </li>
                    </ol>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            搜索
                        </div>
                        <div class="panel-body">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                                </div>
                                <div class="form-group">
                                    <label for="name">状态</label>
                                    <select class="form-control">
                                        <option>上架</option>
                                        <option>下架</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">开始搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--
                        列表展示
                    -->
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户编号</th>
                                    <th>姓名</th>
                                    <th>签到日期</th>
                                    <th>签到时间</th>
                                    <th>签退时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item:${dutyAll}">
                                    <td th:text="${item.dtID}"></td>
                                    <td th:text="${item.user.id}"></td>
                                    <td th:text="${item.user.name}"></td>
                                    <!-- <td th:text="${item.dtDate}"></td> -->
                                    <td th:text="${#dates.format(item.dtDate, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${item.signinTime}"></td>
                                    <td th:text="${item.signoutTime}"></td>
                                    <td>
                                        <div class="btn-group">
                                       <a  th:href="@{#}" class="btn btn-default">*</a><a th:href="@{#}" class="btn btn-default">*</a><a th:href="@{#}" class="btn btn-danger">*</a>
                                        </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                                        <!-- <img src="images/a.jpg" class="img-thumbnail" style="height: 30px;" /> -->
                    <ul class="pagination" style="float: right;">
                        <li><a th:href="@{#}">&laquo;</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li class="disabled"><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
			
			
		</div>
	</div>



	<!-- 底部页脚部分 -->
	<div class="footer">
		<p class="text-center">
			Copyright &copy;
			<!-- © -->
			2020 [张童礼] Powered By [企业人士管理系统] Version 1.0.0
		</p>
	</div>

	<script type="text/javascript">
		$(".nav li").click(function() {
			$(".active").removeClass('active');
			$(this).addClass("active");
		});
	</script>
</body>
</html>