<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>登录/注册</title>
<link rel="stylesheet" th:href="@{css/lr.css}">
<script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
</head>
<body>
	<div class="lowin">
		<div class="lowin-brand">
			<img th:src="@{images/lr.jpg}" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<!-- 登录 -->
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form name="loginForm" action="login" method="post">
						<p>Sign in to continue</p>
						<div class="lowin-group">
							<label>Name<a th:href="@{#}" class="login-back-link">Sign
									in?</a></label> <input type="text" name="loginName" id="loginName"
								class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							
							<label>Password <a th:href="@{#}" class="forgot-link">Forgot
									Password?</a></label> <input type="password" name="loginPwd" id="loginPwd"
								autocomplete="current-password" class="lowin-input">
						</div>
						<button class="lowin-btn login-btn" type="button" onclick="loginAjax()">Sign In</button>

						<div class="text-foot">
							Don't have an account? <a th:href="@{#}" class="register-link">Register</a>
						</div>
					</form>
				</div>
			</div>
			<!-- 注册 -->
			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form action="register" name="register" id="registForm"
						method="post">
						<p>Let's create your account</p>
						<div class="lowin-group">
							<label>Name</label> <input type="text" name="name" id="loginname"
								autocomplete="name" class="lowin-input"
								placeholder="Please enter your name"> <label
								id="loginnameError" style="color: red;"></label>
						</div>
						<div class="lowin-group">
							<label>Email</label> <input type="email" id="email"
								autocomplete="email" name="email" class="lowin-input"
								placeholder="Please enter your email">
						</div>
						<div class="lowin-group">
							<label>Password</label> <input type="password" name="pwd"
								id="pwd" autocomplete="current-password" class="lowin-input"
								placeholder="Please input a password"> <label id="pwdError" style="color: red;"></label><input
								type="password" name="password2" id="pwd2"
								autocomplete="current-password" class="lowin-input"
								placeholder="Please enter the password again">
								<label id="pwd2Error" style="color: red;"></label>
						</div>
						<button class="lowin-btn" type="submit">Sign Up</button>
						<div class="text-foot">
							Already have an account? <a th:href="@{#}" class="login-link">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<footer class="lowin-footer"> Copyright ©2020 [张童礼] Powered
			By [企业人士管理系统] Version 1.0.0</footer>
	</div>

	<script th:src="@{js/lr.js}"></script>
	<script type="text/javascript">
		Auth.init({
			login_url : '#login',
			forgot_url : '#forgot'
		});
		$(function() {
			/*  
			 * 表单提交时进行校验  
			 */
			$("#registForm").submit(function() {
				var bool = true;//表示校验通过  
				if (!validateLoginname()) {
					bool = false;
				}
				 if (!validateLoginpass()) {
					bool = false;
				}
				 if (!validateReloginpass()) {
					bool = false;
				}
				 /*if (!validateEmail()) {
					bool = false;
				}
				if (!validateVerifyCode()) {
					bool = false;
				} */
				alert(bool + "表单校验");
				return bool;
			});
			/*  
			 * 输入框得到焦点隐藏错误信息  
			 */
			$(".lowin-input").focus(function() {
				var labelId = $(this).attr("id") + "Error";//通过输入框找到对应的label的id  
				$("#" + labelId).text("");//把label的内容清空！  
				showError($("#" + labelId));//隐藏没有信息的label  
			});
		});

		/*  
		 * 判断当前元素是否存在内容，如果存在显示，不页面不显示！  
		 */
		function showError(ele) {
			var text = ele.text();//获取元素的内容  
			if (!text) {//如果没有内容  
				ele.css("display", "none");//隐藏元素  
			} else {//如果有内容  
				ele.css("display", "");//显示元素  
			}
		};
		
		
		
		/*  不能格式化了
		 * 登录名校验方法  
		 */  
		function validateLoginname() {  
		    var id = "loginname";  
		    var value = $("#" + id).val();//获取输入框内容  
		    /*  
		     * 1. 非空校验  
		     */  
		    if(!value) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("用户名不能为空！");  
		        showError($("#" + id + "Error"));  
		        return false;  
		    }  
		    /*  
		     * 2. 长度校验  
		     */  
		    if(value.length < 3 || value.length > 20) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("用户名长度必须在3 ~ 20之间！");  
		        showError($("#" + id + "Error"));  
		        return false;  
		    }  
		    /*  
		     * 3. 是否注册校验  
		     */
		    var flag="1";//可以提交
		    $.ajax({  
		        url:"checkUser",//要请求的controller
		        data:{method:"ajaxValidateLoginname", loginname:value},//给服务器的参数  
		        type:"POST",  
		        dataType:"json",  
		        async:false,//是否异步请求，如果是异步，那么不会等服务器返回，我们这个函数就向下运行了。  
		        cache:false,  
		        success:function(result) {
		            if(result==1) {//如果校验失败  
		            	alert("用户名已被注册");
		                $("#" + id + "Error").text("用户名已被注册！");  
		                showError($("#" + id + "Error"));  
		                flag="0";
		            } 
		        }  
		    });
		    if(flag=="1"){
		    	return true;
		    }else{
		    	return false;
		    }
		}; 
		
		
		/*  
		 * 登录密码校验方法  
		 */  
		function validateLoginpass() {  
		    var id = "pwd";  
		    var value = $("#" + id).val();//获取输入框内容  
		    /*  
		     * 1. 非空校验  
		     */  
		    if(!value) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("密码不能为空！");  
		        showError($("#" + id + "Error"));  
		        return false;  
		    }  
		    /*  
		     * 2. 长度校验  
		     */  
		    if(value.length < 3 || value.length > 20) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("密码长度必须在3 ~ 20之间！");  
		        showError($("#" + id + "Error"));  
		        false;  
		    }  
		    return true;      
		}  
		
		/*  
		 * 确认密码校验方法  
		 */  
		function validateReloginpass() {  
		    var id = "pwd2";  
		    var value = $("#" + id).val();//获取输入框内容  
		    /*  
		     * 1. 非空校验  
		     */  
		    if(!value) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("确认密码不能为空！");  
		        showError($("#" + id + "Error"));  
		        return false;  
		    }  
		    /*  
		     * 2. 两次输入是否一致校验  
		     */  
		    if(value != $("#pwd").val()) {  
		        /*  
		         * 获取对应的label  
		         * 添加错误信息  
		         * 显示label  
		         */  
		        $("#" + id + "Error").text("两次输入不一致！");  
		        showError($("#" + id + "Error"));  
		        return false;  
		    }  
		    return true;      
		}
		
		
		
		<!-- javasript 登录代码 -->
		function loginAjax(){
			$.ajax({
	            url:"loginForm",
	            type:"POST",
	            data:{
	            	loginName:$("#loginName").val(),
	            	loginPwd:$("#loginPwd").val(),
	            },
	            success:function (result) {
	            	　　　　var jumpUrl="bindex";
	               if(result==1){
	            	   window.location.href=jumpUrl;
	               }else {
	                  alert("用户名或密码错误");
	               }
	            }
	         })
		}
</script>
</body>
</html>