<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">
	<!-- 注册添加 -->
	<insert id="register" parameterType="User">
		INSERT INTO
		tb_user(name,email,pwd) VALUE (#{name},#{email},#{pwd})
	</insert>
	<!-- 注册查重复 -->
	<select id="checkUser" parameterType="String"
		resultType="com.example.demo.pojo.User">
		SELECT id FROM tb_user WHERE name=#{loginname}
	</select>
	<select id="findByName" parameterType="String"
		resultType="com.example.demo.pojo.User">
		SELECT id FROM tb_user WHERE name=#{loginName}
	</select>
	<!-- 登录 -->
	<select id="login" parameterType="String"
		resultType="com.example.demo.pojo.User">
		SELECT * FROM tb_user WHERE name=#{loginName} AND pwd=#{loginPwd}
	</select>
	<!-- <resultMap id="BaseResultMap" type="org.spring.springboot.domain.City"> 
		<result column="id" property="id" /> <result column="province_id" property="provinceId" 
		/> <result column="city_name" property="cityName" /> <result column="description" 
		property="description" /> </resultMap> -->

	<!-- <sql id="Base_Column_List"> id, province_id, city_name, description 
		</sql> -->

	<!-- <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String"> 
		select <include refid="Base_Column_List" /> from city where city_name = #{cityName} 
		</select> -->

	<!-- 删除 -->
	<!-- <delete id="delete" parameterType="com.mhys.mavenqyrs.pojo.Notification"> 
		DELETE FROM tb_notification WHERE nId=#{nId} </delete> -->
	<!-- 修改 -->
	<!-- <update id="update" parameterType="com.mhys.mavenqyrs.pojo.Notification"> 
		UPDATE tb_notification SET nUser=#{nUser} ,nName=#{nName},nContent=#{nContent},nTime=#{nTime} 
		<where> and nId=#{nId} </where> </update> -->
	<!-- 查询与分页 -->
	<!-- <select id="list" resultType="com.mhys.mavenqyrs.pojo.Notification"> 
		SELECT * FROM tb_notification <if test="start!=null and count!=null"> limit 
		#{start},#{count} </if> </select> -->
	<!-- 查询总数 -->
	<!-- <select id="total" resultType="int"> SELECT count(*) FROM tb_notification 
		</select> -->
	<!-- 查询最后4条 -->
	<!-- <select id="fourList" resultType="com.mhys.mavenqyrs.pojo.Notification"> 
		SELECT * FROM tb_notification ORDER BY nTime DESC limit 4 </select> -->

</mapper>
